---
http_interactions:
- request:
    method: post
    uri: https://staging.loggi.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation { createOrder(input: { shopId: 3987 pickups: [ {
        address: { lat: -23.5516433 lng: -46.6516703 address: \"Av. Dr. Cardoso de
        Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil\" complement:
        \"8o andar\" } instructions: \"Deixar pedido na escada\" } ] packages: [ {
        pickupIndex: 0 recipient: { name: \"Client XYZ\" phone: \"1199678890\" } address:
        { lat: -23.5516433 lng: -46.6516703 address: \"\" complement: \"8o andar\"
        } charge: { value: \"10.0\" method: 2 change: \"5.0\" } dimensions: { width:
        10 height: 10 length: 5 } instructions: \"Deixar pedido na escada\" } ] })
        { success shop { pk name } orders { pk packages { pk status pickupWaypoint
        { instructions index indexDisplay eta legDistance } waypoint { instructions
        index indexDisplay eta legDistance } } } errors { field message } } }"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ApiKey loggistaging@loggi.com:14651f0f-8888-4100-9ab7-cf4b2dffb31e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - pt-br
      X-Lu:
      - 60855;304899
      X-Wsgi-Duration:
      - '0.203678'
      Node:
      - app-server-app-v1-1
      X-Proxy:
      - staging-haproxy-01
      X-Backend:
      - www_be
      X-Box:
      - app_2
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"createOrder":{"success":false,"shop":null,"orders":[],"errors":[{"field":"","message":"We
        are unable to locate the address you entered, please check that it is complete
        and does not have complement inside to the \"address\" field"},{"field":null,"message":"destination_address"}]}}}'
  recorded_at: Sat, 22 Jun 2019 22:01:53 GMT
recorded_with: VCR 4.0.0
