---
http_interactions:
- request:
    method: post
    uri: https://staging.loggi.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation { login(input: { email: \"loggistaging@loggi.com\",
        password: \"1234\" }) { user { apiKey } } }"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - pt-br
      X-Wsgi-Duration:
      - '0.165109'
      Node:
      - app-server-app-v1-1
      X-Proxy:
      - staging-haproxy-01
      X-Backend:
      - www_be
      X-Box:
      - app_2
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"login":{"user":null}}}'
  recorded_at: Wed, 19 Jun 2019 19:32:04 GMT
recorded_with: VCR 4.0.0
