---
http_interactions:
- request:
    method: post
    uri: https://staging.loggi.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation { login(input: { email: \"loggistaging@loggi.com\",
        password: \"123456\" }) { user { apiKey } } }"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - pt-br
      X-Lu:
      - 60855;304899
      X-Wsgi-Duration:
      - '0.185046'
      Node:
      - app-server-app-0
      X-Proxy:
      - staging-haproxy-01
      X-Backend:
      - www_be
      X-Box:
      - app_1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"login":{"user":{"apiKey":"14651f0f-8888-4100-9ab7-cf4b2dffb31e"}}}}'
  recorded_at: Wed, 19 Jun 2019 19:30:20 GMT
recorded_with: VCR 4.0.0
