---
http_interactions:
- request:
    method: post
    uri: https://staging.loggi.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query { retrieveOrderWithPk(orderPk: 97269) { status statusDisplay
        originalEta totalTime pricing { totalCm } packages { pk status statusCode
        statusCodeDisplay shareds { edges { node { trackingUrl } } } } currentDriverPosition
        { lat lng currentWaypointIndex currentWaypointIndexDisplay } } }"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ApiKey loggistaging@loggi.com:14651f0f-8888-4100-9ab7-cf4b2dffb31e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - pt-br
      X-Lu:
      - 60855;304899
      X-Wsgi-Duration:
      - '0.163335'
      Node:
      - app-server-app-0
      X-Proxy:
      - staging-haproxy-01
      X-Backend:
      - www_be
      X-Box:
      - app_1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"retrieveOrderWithPk":{"status":"allocating","statusDisplay":"Em
        aloca\u00e7\u00e3o","originalEta":2033,"totalTime":null,"pricing":{"totalCm":"8.90"},"packages":[{"pk":231814,"status":"allocating","statusCode":1,"statusCodeDisplay":"Agendado","shareds":{"edges":[{"node":{"trackingUrl":"loggi.com/c/D4qcua9r/"}},{"node":{"trackingUrl":"loggi.com/c/62xpHC25/"}}]}}],"currentDriverPosition":null}}}'
  recorded_at: Tue, 25 Jun 2019 17:32:51 GMT
recorded_with: VCR 4.0.0
