---
http_interactions:
- request:
    method: post
    uri: https://staging.loggi.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation { createOrder(input: { shopId: 3987 pickups: [ {
        address: { lat: -23.5516433 lng: -46.6516703 address: \"Av. Dr. Cardoso de
        Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil\" complement:
        \"8o andar\" } instructions: \"Deixar pedido na escada\" } ] packages: [ {
        pickupIndex: 0 recipient: { name: \"Client XYZ\" phone: \"1199678890\" } address:
        { lat: -23.5516433 lng: -46.6516703 address: \"R. Sansão Alves dos Santos,
        138, Cidade Monções São Paulo - SP Brasil\" complement: \"8o andar\" } charge:
        { value: \"10.0\" method: 2 change: \"5.0\" } dimensions: { width: 10 height:
        10 length: 5 } instructions: \"Deixar pedido na escada\" } ] }) { success
        shop { pk name } orders { pk packages { pk status pickupWaypoint { instructions
        index indexDisplay eta legDistance } waypoint { instructions index indexDisplay
        eta legDistance } } } errors { field message } } }"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ApiKey loggistaging@loggi.com:14651f0f-8888-4100-9ab7-cf4b2dffb31e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - pt-br
      X-Lu:
      - 60855;304899
      X-Wsgi-Duration:
      - '1.222911'
      Node:
      - app-server-app-v1-1
      X-Proxy:
      - staging-haproxy-01
      X-Backend:
      - www_be
      X-Box:
      - app_2
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"createOrder":{"success":true,"shop":{"pk":3987,"name":"PetLove
        teste"},"orders":[{"pk":97250,"packages":[{"pk":231788,"status":"allocating","pickupWaypoint":{"instructions":"Deixar
        pedido na escada","index":0,"indexDisplay":"A","eta":1561241517,"legDistance":0},"waypoint":{"instructions":"Entregar
        pedido de Client Xyz, cobrar R$ 10.00 com cart\u00e3o de d\u00e9bito. (Deixar
        pedido na escada)","index":1,"indexDisplay":"B","eta":1561242514,"legDistance":2225}}]}],"errors":[]}}}'
  recorded_at: Sat, 22 Jun 2019 22:01:58 GMT
recorded_with: VCR 4.0.0
