---
http_interactions:
- request:
    method: post
    uri: https://staging.loggi.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query { packageHistory(packageId: 231814) { signatureUrl
        signedByName statuses { status statusDisplay detailedStatusDisplay statusCode
        updated } } }"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ApiKey loggistaging@loggi.com:14651f0f-8888-4100-9ab7-cf4b2dffb31e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - pt-br
      X-Lu:
      - 60855;304899
      X-Wsgi-Duration:
      - '0.112733'
      Node:
      - app-server-app-v1-1
      X-Proxy:
      - staging-haproxy-01
      X-Backend:
      - www_be
      X-Box:
      - app_2
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"packageHistory":{"signatureUrl":"","signedByName":null,"statuses":[{"status":"ns","statusDisplay":"N\u00e3o
        iniciada","detailedStatusDisplay":"Agendado | Previs\u00e3o de chegada: 19:49","statusCode":1,"updated":"2019-06-24
        19:11:12.121141"}]}}}'
  recorded_at: Tue, 25 Jun 2019 00:05:53 GMT
recorded_with: VCR 4.0.0
