---
http_interactions:
- request:
    method: post
    uri: https://staging.loggi.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation { createOrder(input: { paymentMethod: 286147 pickups:
        [ { address: { lat: -23.5516433 lng: -46.6516703 address: \"Av. Dr. Cardoso
        de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil\" complement:
        \"8o andar\" } instructions: \"Deixar pedido na escada\" } ] packages: [ {
        pickupIndex: 0 recipient: { name: \"Client XYZ\" phone: \"1199678890\" } address:
        { lat: -23.5516433 lng: -46.6516703 address: \"R. Sansão Alves dos Santos,
        138, Cidade Monções São Paulo - SP Brasil\" complement: \"8o andar\" } charge:
        { value: \"10.0\" method: 2 change: \"5.0\" } dimensions: { width: 10 height:
        10 length: 5 } instructions: \"Deixar pedido na escada\" } ] }) { success
        shop { pk name } orders { pk pricing { totalCm } packages { pk status shareds
        { edges { node { trackingUrl } } } pickupWaypoint { instructions index indexDisplay
        eta legDistance } waypoint { instructions index indexDisplay eta legDistance
        addressSt addressNumber addressComplement } } } errors { field message } }
        }"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ApiKey anderson.ferreira@petlove.com.br:ff4bd279e3102439fb232454a7b8025e172a505b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Http-X-Correlation-Id:
      - 06be4b3a-9b5a-4809-beae-d97095088c62
      Content-Language:
      - pt-br
      X-Wsgi-Duration:
      - '1.353213'
      Node:
      - app-server-app-v1-1
      X-Proxy:
      - staging-haproxy-01
      X-Backend:
      - www_be
      X-Box:
      - app_2
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"''WSGIRequest'' object has no attribute ''share_hash''","locations":[{"line":1,"column":724}],"path":["createOrder","orders",0,"packages",0,"status"]}],"data":{"createOrder":{"success":true,"shop":null,"orders":[{"pk":189860,"pricing":{"totalCm":"14.90"},"packages":[{"pk":8375944,"status":null,"shareds":{"edges":[{"node":{"trackingUrl":"loggi.com/c/ULv3FKEV/"}},{"node":{"trackingUrl":"loggi.com/c/sEAJMRnD/"}}]},"pickupWaypoint":{"instructions":"Deixar
        pedido na escada","index":0,"indexDisplay":"A","eta":1624905872,"legDistance":0},"waypoint":{"instructions":"Entregar
        pedido de Client Xyz (Deixar pedido na escada)","index":1,"indexDisplay":"B","eta":1624906895,"legDistance":2443,"addressSt":"Rua
        Sans\u00e3o Alves dos Santos","addressNumber":"138","addressComplement":"8o
        andar"}}]}],"errors":[]}}}'
  recorded_at: Mon, 28 Jun 2021 18:24:32 GMT
recorded_with: VCR 6.0.0
