---
http_interactions:
- request:
    method: post
    uri: https://staging.loggi.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query { retrieveOrderWithPk(orderPk: 97269) { status statusDisplay
        originalEta totalTime pricing { totalCm } packages { waypoint { addressComplement
        addressSt addressNumber addressData } pickupWaypoint { instructions index
        indexDisplay eta legDistance addressData } pk status statusCode statusCodeDisplay
        shareds { edges { node { trackingUrl } } } } currentDriverPosition { lat lng
        currentWaypointIndex currentWaypointIndexDisplay } } }"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ApiKey lincoln.rodrigues@petlove.com.br:270da04ca48efb14c5524ec0944910c208e41859
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - pt-br
      X-Lu:
      - 60855;304899
      X-Wsgi-Duration:
      - '0.159683'
      Node:
      - app-server-app-v1-1
      X-Proxy:
      - staging-haproxy-01
      X-Backend:
      - www_be
      X-Box:
      - app_2
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"retrieveOrderWithPk":{"status":"allocating","statusDisplay":"Em
        aloca\u00e7\u00e3o","originalEta":2033,"totalTime":null,"pricing":{"totalCm":"8.90"},"packages":[{"waypoint":{"addressComplement":"8o
        andar","addressSt":"Rua Sans\u00e3o Alves dos Santos","addressNumber":"138","addressData":"{\"geometry\":
        {\"location\": {\"lat\": -23.6059493, \"lng\": -46.69458969999999}}, \"address_components\":
        [{\"long_name\": \"138\", \"short_name\": \"138\", \"types\": [\"street_number\"]},
        {\"long_name\": \"Rua Sans\\u00e3o Alves dos Santos\", \"short_name\": \"R.
        Sans\\u00e3o Alves dos Santos\", \"types\": [\"route\"]}, {\"long_name\":
        \"Cidade Mon\\u00e7\\u00f5es\", \"short_name\": \"Cidade Mon\\u00e7\\u00f5es\",
        \"types\": [\"political\", \"sublocality\", \"sublocality_level_1\"]}, {\"long_name\":
        \"S\\u00e3o Paulo\", \"short_name\": \"S\\u00e3o Paulo\", \"types\": [\"administrative_area_level_2\",
        \"political\"]}, {\"long_name\": \"S\\u00e3o Paulo\", \"short_name\": \"SP\",
        \"types\": [\"administrative_area_level_1\", \"political\"]}, {\"long_name\":
        \"Brazil\", \"short_name\": \"BR\", \"types\": [\"country\", \"political\"]},
        {\"long_name\": \"04571-090\", \"short_name\": \"04571-090\", \"types\": [\"postal_code\"]}],
        \"partial_match\": true, \"formatted_address\": \"R. Sans\\u00e3o Alves dos
        Santos, 138 - Cidade Mon\\u00e7\\u00f5es, S\\u00e3o Paulo - SP, 04571-090,
        Brazil\", \"types\": null}"},"pickupWaypoint":{"instructions":"Pegar no balc\u00e3o","index":0,"indexDisplay":"A","eta":1565964795,"legDistance":0,"addressData":"{\"geometry\":
        {\"location\": {\"lat\": -23.5986957, \"lng\": -46.685013}}, \"address_components\":
        [{\"long_name\": \"1155\", \"types\": [\"street_number\"], \"short_name\":
        \"1155\"}, {\"long_name\": \"Avenida Doutor Cardoso de Melo\", \"types\":
        [\"route\"], \"short_name\": \"Av. Dr. Cardoso de Melo\"}, {\"long_name\":
        \"Vila Ol\\u00edmpia\", \"types\": [\"political\", \"sublocality\", \"sublocality_level_1\"],
        \"short_name\": \"Vila Ol\\u00edmpia\"}, {\"long_name\": \"S\\u00e3o Paulo\",
        \"types\": [\"administrative_area_level_2\", \"political\"], \"short_name\":
        \"S\\u00e3o Paulo\"}, {\"long_name\": \"S\\u00e3o Paulo\", \"types\": [\"administrative_area_level_1\",
        \"political\"], \"short_name\": \"SP\"}, {\"long_name\": \"Brazil\", \"types\":
        [\"country\", \"political\"], \"short_name\": \"BR\"}, {\"long_name\": \"04548-004\",
        \"types\": [\"postal_code\"], \"short_name\": \"04548-004\"}], \"formatted_address\":
        \"Av. Dr. Cardoso de Melo, 1155 - Vila Ol\\u00edmpia, S\\u00e3o Paulo - SP,
        04548-004, Brazil\"}"},"pk":231814,"status":"allocating","statusCode":1,"statusCodeDisplay":"Agendado","shareds":{"edges":[{"node":{"trackingUrl":"loggi.com/c/D4qcua9r/"}},{"node":{"trackingUrl":"loggi.com/c/62xpHC25/"}}]}}],"currentDriverPosition":null}}}'
  recorded_at: Fri, 16 Aug 2019 14:19:51 GMT
recorded_with: VCR 4.0.0
