---
http_interactions:
- request:
    method: post
    uri: https://staging.loggi.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query { allShops { edges { node { name pickupInstructions
        pk address { pos addressSt addressData } chargeOptions { label } } } } }"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ApiKey loggistaging@loggi.com:14651f0f-8888-4100-9ab7-cf4b2dffb31e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - pt-br
      X-Lu:
      - 60855;304899
      X-Wsgi-Duration:
      - '0.051882'
      Node:
      - app-server-app-0
      X-Proxy:
      - staging-haproxy-01
      X-Backend:
      - www_be
      X-Box:
      - app_1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"allShops":{"edges":[{"node":{"name":"PetLove teste","pickupInstructions":"Petlove
        - retira de super expressa, se dirigir pela entrada de entregadores loggi
        e acessar a doca 6","pk":3987,"address":{"pos":"{ \"type\": \"Point\", \"coordinates\":
        [ -46.685013, -23.5986957 ] }","addressSt":"Avenida Doutor Cardoso de Melo","addressData":"{\"geometry\":
        {\"location\": {\"lat\": -23.5986957, \"lng\": -46.685013}, \"location_type\":
        \"ROOFTOP\", \"viewport\": {\"northeast\": {\"lat\": -23.59732006970849, \"lng\":
        -46.68367946970849}, \"southwest\": {\"lat\": -23.6000180302915, \"lng\":
        -46.68637743029149}}, \"bounds\": {\"northeast\": {\"lat\": -23.5984689, \"lng\":
        -46.6848472}, \"southwest\": {\"lat\": -23.5988692, \"lng\": -46.68520969999999}}},
        \"place_id\": \"ChIJ0YizrE5XzpQRf37nW9bxdS8\", \"provider\": \"google\", \"address_components\":
        [{\"long_name\": \"1155\", \"short_name\": \"1155\", \"types\": [\"street_number\"]},
        {\"long_name\": \"Avenida Doutor Cardoso de Melo\", \"short_name\": \"Av.
        Dr. Cardoso de Melo\", \"types\": [\"route\"]}, {\"long_name\": \"Vila Ol\\u00edmpia\",
        \"short_name\": \"Vila Ol\\u00edmpia\", \"types\": [\"political\", \"sublocality\",
        \"sublocality_level_1\"]}, {\"long_name\": \"S\\u00e3o Paulo\", \"short_name\":
        \"S\\u00e3o Paulo\", \"types\": [\"administrative_area_level_2\", \"political\"]},
        {\"long_name\": \"S\\u00e3o Paulo\", \"short_name\": \"SP\", \"types\": [\"administrative_area_level_1\",
        \"political\"]}, {\"long_name\": \"Brazil\", \"short_name\": \"BR\", \"types\":
        [\"country\", \"political\"]}, {\"long_name\": \"04548-004\", \"short_name\":
        \"04548-004\", \"types\": [\"postal_code\"]}], \"formatted_address\": \"Av.
        Dr. Cardoso de Melo, 1155 - Vila Ol\\u00edmpia, S\\u00e3o Paulo - SP, 04548-004,
        Brazil\", \"types\": [\"premise\"]}"},"chargeOptions":[{"label":"N\u00e3o
        h\u00e1 cobran\u00e7a"}]}}]}}}'
  recorded_at: Fri, 21 Jun 2019 20:17:19 GMT
recorded_with: VCR 4.0.0
